.header {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.header-nav .hamburguer {
  width: 2.5rem;
  height: 2.5rem;
  padding: .5rem;

  display: none;
}

.header-nav .hamburguer span {
  width: 100%;
  height: 2px;

  display: block;

  background: var(--dark-color);

  position: relative;
}

.header-nav .hamburguer span::before {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--dark-color);
  display: block;
  position: absolute;
  top: -0.5rem;
  left: 0;
}

.header-nav .hamburguer span::after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--dark-color);
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 0;
}

@media screen and (max-width: 1124px) {
  .header {
    padding: 2rem 0;
  }
  
  .header-nav .logo {
    width: 144px;
  }

  .header-nav ul {
    display: none;
  }

  .header-nav .hamburguer {
    display: block;
  }
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  width: 100%;
  max-width: 540px;
}

.hero-text h1 {
  margin-bottom: 2rem;
}

.hero-text p {
  margin-bottom: 3rem;
}

.hero-image {
  width: 100%;
  height: 515px;
  max-width: 600px;
}

.hero-logos {
  margin-top: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-logos img {
  filter: brightness(0);
}

.services-content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.services-text {
  display: flex;
  gap: 2.5rem;
}

.services-text p {
  max-width: 597px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.card {
  width: 100%;
  padding: 3rem;

  display: flex;
  justify-content: space-between;

  background-color: inherit;
  border: 1px solid var(--dark-color);
  border-radius: 3rem;
  box-shadow: 0px 5px 0px 0px var(--dark-color);
}

.cards .card:nth-child(1) {
  background-color: var(--gray-color);
}

.cards .card:nth-child(2) {
  background-color: var(--primary-color);
}

.cards .card:nth-child(3) {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.cards .card:nth-child(4) {
  background-color: var(--gray-color);
}

.cards .card:nth-child(5) {
  background-color: var(--primary-color);
}

.cards .card:nth-child(6) {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.cta-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 4rem;

  background-color: var(--gray-color);
  border-radius: 3rem;
}

.cta-text {
  width: 100%;
  max-width: 500px;
}

.cta-text h3 {
  margin-bottom: 1.5rem;
}

.cta-text p {
  margin-bottom: 2.5rem;
}

.cta-illustration {
  width: 100%;
  max-width: 494px;

  position: relative;
}

.cta-illustration img {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
}

.case-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.case-text {
  display: flex;
  align-items: start;
  gap: 2.5rem;
}

.case-text p {
  max-width: 580px;
}

.case-block {
  padding: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  border-radius: 3rem;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.case-block .case {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.case-block .case a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primary-color);
}

.case-block .separator {
  width: 1px;
  height: 200px;
  background: var(--light-color);
}

.working-accordion {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.working-content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.working-content .working-text {
  display: flex;
  gap: 2.5rem;
}

.working-text p {
  max-width: 292px;
}

.accordion-item {
  width: 100%;
  height: 182px;
  padding: 2.5rem 4rem;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  border-radius: 3rem;
  border: 1px solid var(--dark-color);
  box-shadow: 0px 5px 0px 0px #191A23;
  background-color: var(--gray-color);

  overflow-y: hidden;
}

.accordion-item.active {
  height: 100%;
  background-color: var(--primary-color);
}

.accordion-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-ask {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  color: var(--dark-color);
}

.accordion-ask span {
  display: block;
  font-size: 4rem;
  font-weight: 500;
}

.accordion-ask p {
  font-size: 2rem;
  font-weight: 500;
}

.accordion-item .accordion-answer {
  max-height: 100%;
  padding-top: 2rem;
  border-top: 1px solid var(--dark-color);
}