.header {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.header-nav .hamburguer {
  width: 2.5rem;
  height: 2.5rem;
  padding: .5rem;

  display: none;
}

.header-nav .hamburguer span {
  width: 100%;
  height: 2px;

  display: block;

  background: var(--dark-color);

  position: relative;
}

.header-nav .hamburguer span::before {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--dark-color);
  display: block;
  position: absolute;
  top: -0.5rem;
  left: 0;
}

.header-nav .hamburguer span::after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--dark-color);
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 0;
}

@media screen and (max-width: 1124px) {
  .header {
    padding: 2rem 0;
  }

  .header-nav .logo {
    width: 144px;
  }

  .header-nav ul {
    display: none;
  }

  .header-nav .hamburguer {
    display: block;
  }
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  width: 100%;
  max-width: 540px;
}

.hero-text h1 {
  margin-bottom: 2rem;
}

.hero-text p {
  margin-bottom: 3rem;
}

.hero-image {
  width: 100%;
  height: 515px;
  max-width: 600px;
}

.hero-logos {
  margin-top: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-logos img {
  filter: brightness(0);
}

.services-content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.services-text {
  display: flex;
  gap: 2.5rem;
}

.services-text p {
  max-width: 597px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.card {
  width: 100%;
  padding: 3rem;

  display: flex;
  justify-content: space-between;

  background-color: inherit;
  border: 1px solid var(--dark-color);
  border-radius: 3rem;
  box-shadow: 0px 5px 0px 0px var(--dark-color);
}

.cards .card:nth-child(1) {
  background-color: var(--gray-color);
}

.cards .card:nth-child(2) {
  background-color: var(--primary-color);
}

.cards .card:nth-child(3) {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.cards .card:nth-child(4) {
  background-color: var(--gray-color);
}

.cards .card:nth-child(5) {
  background-color: var(--primary-color);
}

.cards .card:nth-child(6) {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.cta-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 4rem;

  background-color: var(--gray-color);
  border-radius: 3rem;
}

.cta-text {
  width: 100%;
  max-width: 500px;
}

.cta-text h3 {
  margin-bottom: 1.5rem;
}

.cta-text p {
  margin-bottom: 2.5rem;
}

.cta-illustration {
  width: 100%;
  max-width: 494px;

  position: relative;
}

.cta-illustration img {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
}

.case-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.case-text {
  display: flex;
  align-items: start;
  gap: 2.5rem;
}

.case-text p {
  max-width: 580px;
}

.case-block {
  padding: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  border-radius: 3rem;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.case-block .case {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.case-block .case a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primary-color);
}

.case-block .separator {
  width: 1px;
  height: 200px;
  background: var(--light-color);
}

.working-accordion {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.working-content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.working-content .working-text {
  display: flex;
  gap: 2.5rem;
}

.working-text p {
  max-width: 292px;
}

.accordion-item {
  width: 100%;
  height: 182px;
  padding: 2.5rem 4rem;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  border-radius: 3rem;
  border: 1px solid var(--dark-color);
  box-shadow: 0px 5px 0px 0px #191A23;
  background-color: var(--gray-color);

  overflow-y: hidden;
}

.accordion-item.active {
  height: 100%;
  background-color: var(--primary-color);
}

.accordion-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-ask {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  color: var(--dark-color);
}

.accordion-ask span {
  display: block;
  font-size: 4rem;
  font-weight: 500;
}

.accordion-ask p {
  font-size: 2rem;
  font-weight: 500;
}

.accordion-item .accordion-answer {
  max-height: 100%;
  padding-top: 2rem;
  border-top: 1px solid var(--dark-color);
}

.team-content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.team-content .team-text {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.team-text p {
  max-width: 473px;
}

.team-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.team-card {
  padding: 2.5rem 2.5rem 4rem 2.5rem;
  border: 1px solid var(--dark-color);
  border-radius: 3rem;
  box-shadow: 0px 5px 0px 0px #191A23;
}

.team-card .person-header {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.team-card .person-header .person-image img {
  width: 100%;
  height: 100%;
}

.team-card .person-header .person-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.person-text .person-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.person-text .person-info h4 {
  line-height: 1rem;
}

.team-card .divider {
  width: 100%;
  height: 1px;
  margin: 2rem 0;
  background-color: var(--dark-color);
}

.testimonials-content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.testimonials-content .testimonials-text {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.testimonials-content .testimonials-text p {
  max-width: 473px;
}

.testimonials-wrapper {
  width: 100%;
  padding: 4rem;

  color: var(--light-color);
  background-color: var(--dark-color);
  border-radius: 3rem;
}


.testimonials-wrapper .testimonial-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonial-card .testimonial-description {
  padding: 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 3rem;
  width: 346px;
}

.testimonial-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-person .person-name {
  color: var(--primary-color);
}

.contact-content {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 3.5rem;
}

.contact-content .contact-text {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.contact-text p {
  max-width: 323px;
}

.contact-block {
  width: 100%;
  padding: 4rem 6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 3rem;
  background: var(--gray-color);

  position: relative;
  overflow: hidden;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 556px;
}

.contact-form .contact-radio {
  display: flex;
  gap: 2.5rem;
}

.contact-radio .radio-input {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.contact-info button {
  display: flex;
  width: 100%;
}

.contact-info .contact-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 2rem;
}

.contact-info .contact-field input,
.contact-info .contact-field textarea {
  display: block;
  padding: 1rem;
  border-radius: 0.875rem;
  border: 1px solid var(--dark-color);
}

.contact-field textarea {
  width: 100%;
  height: 11.875rem;
  resize: none;
}

.contact-illustration {
  position: absolute;
  right: -54.5%;
  translate: -50%;
}

.footer-content {
  padding: 3.5rem 4rem;

  color: var(--light-color);
  background-color: var(--dark-color);
  border-radius: 3rem;
}

.footer-content .footer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 4rem;
}

.contact-text .contact-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.footer-header ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.footer-header ul a {
  text-decoration: underline;
}

.footer-header .social-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer-content .footer-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}


.footer-body .contact-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-body .contact-subscribe {
  display: flex;
  gap: 2rem;
  padding: 3.5rem 2.5rem;
  border-radius: 3rem;
  background-color: #292A32;
}

.contact-subscribe input {
  padding: 1.25rem 1.5rem;

  font-size: 1.25rem;

  border: 1px solid var(--light-color);
  border-radius: 1rem;
  background-color: transparent;
}

.footer-content .divider {
  width: 100%;
  height: 1px;
  background: var(--light-color);
}